@import "tailwindcss";

@theme {
  --color-primary: #e84e1b;
  --color-primary-hover: #cf4518;
  --color-ink: #201515;
  --color-ink-light: #36342e;
  --color-body: #605d52;
  --color-body-mid: #939084;
  --color-canvas: #fffefb;
  --color-canvas-soft: #f8f4f0;
  --color-mute: #c5c0b1;
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
}

body {
  background-color: var(--color-canvas);
  color: var(--color-body);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-canvas-soft);
}
::-webkit-scrollbar-thumb {
  background: var(--color-ink);
  border-radius: 4px;
}
